[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
pillow = "*"
jinja2 = "*"
django-jinja = "*"
psycopg2-binary = "*"
django-rosetta = "*"
django = "*"

[requires]
python_version = "3.6"
